.App {
    text-align: center;
    height: 100vh;
    margin-left:auto;
    margin-right:auto;
}

@media print {
    .noprint {
        display: none !important;
    }

    .App {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .numberTableRow2 {
        font-size: 38px !important;
        justify-content: center !important;
        margin-bottom: 20px!important;
        max-width:100vw!important;
    }

    .numberBox2 {
        margin: 0 !important;
        padding: 0;
        max-width:70px!important;
        max-height:70px!important;
        width: 70px !important;
        height: 70px !important;
        box-shadow: none!important;
        border:2px black solid!important;
    }

    .numberTableRow {
        max-height:144px!important;
        font-size: 36px !important;
        justify-content: center !important;
        width: 45vw;
        height: 144px !important;
        margin-bottom:25px!important;
    }

    .numberBox {
        max-width:65px!important;
        max-height:65px!important;
        margin: 0 !important;
        height: 65px !important;
        width: 65px !important;
        padding: 0;
        box-shadow: none!important;
        border:2px black solid!important;
    }
}
